
html { height: 100%; min-height: 100%; }

body { background: url("../img/music_bg_fotolia.jpg") no-repeat center center fixed; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; color: white; font-family: 'Roboto', sans-serif; z-index: 0; min-height: 100%; }

h1 { color: #8E24AA; font-family: 'Luckiest Guy', Arial, sans-serif; font-size: 4em; margin: 0; }

h2 { color: #ccc; }

.hidden { display: none; }

#search_form { margin-bottom: 3em; }

.input-group { width: 45%; }

#content_wrap { padding: 0 2em; background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; bottom: inherit; right: 0; left: 0;  z-index: 500; min-height: 100%; }

a { color: #26C6DA; }

audio { display: none; }

header { margin-bottom: 4em; padding-top: 20px; }

#album_player_section { float: right; padding-left: 150px; }

#artist_info { background-color: #607D8B; color: white; position: fixed; right: 0; bottom: 40px; top: 0; padding: 70px 40px 40px 40px; width: 30%; display: none; z-index: 500; }

.album { color: #26C6DA; font-size: 16px; }

.tracks:hover { background-color: #8E24AA; } 

section { margin-bottom: 2em; float: left; }

small { color: #bbb; }

table { width: 60%; background-color: rgba(100, 100, 100, 0.2); }

td { padding: 1em ; text-align: left; }

.tracks { border-top: 2px solid #666; border-bottom: 2px solid #666; }

#results { display: none; margin-bottom: 40px; }

.fa-play-circle { font-size: 2em; color: #26C6DA; cursor: pointer; z-index: 1000; }

.fa-info-circle { position: absolute; font-size: 3em; cursor: pointer; top: 0.7em; right: 0.7em; display: none; z-index: 1000;}

#play_buttons { text-align: right; }

#audioPlayer_wrap { margin: 0 auto 1em auto; text-align: center; }

#audioPlayer { background-color: #777; border: 5px solid #ccc; color: white; border-radius: 15px; width: 22.2em; line-height: 2em; display: none; }

.album_art { height: 300px; width: 300px; background-color: #8E24AA; border-radius: 10px 10px 0 0; }

#song_name_display { background-color: black; padding: 5px; margin: 10px 0; font-size: 20px; }

#song_name_display p { padding: 0; margin: 0; font-family: 'Roboto', sans-serif; }

#controls_wrap { background: linear-gradient(#9e9e9e, #fafafa, #9e9e9e); padding: 10px; border-radius: 0 0 10px 10px; }

.control_button { padding: 0 30px; color: black; font-size: 30px; cursor: pointer; }

.control_button:hover { color: #26C6DA; }

.active { color: #8E24AA; }

#mobile_back { display: none; }

footer { clear: both; position: fixed; bottom: 0; color: #ccc; padding: 10px 0 10px 16px; left: 0; background-color: #263238; width: 100%; }


@media screen and (max-width: 989px) {
	
	#content_wrap { padding: 0; overflow-y: scroll; }
	section { margin-bottom: 0; }
	.input-group, tr, td { width: 100%; }
	#audioPlayer_wrap { width: 80%; }
	#audioPlayer { margin-top: 0; width: 100%; border: none; border-top: 5px solid #616161; background-color: #263238; width: 100%; }
	#controls_wrap, .album_art, #audioPlayer { border-radius: 0; }
	#album_player_section { float: right; padding-left: 0; position: fixed; top: 90px; left: 0; right: 0; z-index: 2000; }
	#song_name_display { padding: 10px; margin: 5px 0; }
	.album_art { width: 60%; background-color: #ccc; height: 60%; }
	h1 { margin-bottom: .2em; margin-left: 0; margin-top: 0; }
	h1, h2 { text-align: center; }
	header { text-align: center; padding: 20px; margin-bottom: 0; }
	header p { margin-left: 0; }
	table { width: 100%; }
	aside { float: none; width: 100%; padding: 0; }
	audio { width: 90%; }
	#mobile_back { display: block; background-color: #8E24AA; color: white; cursor: pointer; font-size: 18px; padding: 10px; font-weight: bold; }
	#mobile_back p { margin: 0; }
	#mobile_back p:hover { color: #26C6DA; }
	#search_form { margin: 2em auto; }
	footer { text-align: center; }
}

@media screen and (min-width: 990px) and (max-width: 1399px) {
	
	#album_player_section { width: 35%; position: absolute;  right: 18em; top: 11em; }
	#controls_wrap { background: linear-gradient(#9e9e9e, #fafafa, #9e9e9e); padding: 10px; border-radius: 0; }
	#mobile_back { display: block; background-color: #8E24AA; color: white; cursor: pointer; font-size: 18px; padding: 10px; font-weight: bold; border-radius: 0 0 10px 10px; }
	#mobile_back p { margin: 0; }
	#mobile_back p:hover { color: #26C6DA; }

}

@media screen and (max-height: 500px) {
	.album_art { display: none; }
}

