footer {
    font-size: $base-unit;
    text-align: center;
    clear: both; 
	position: fixed; 
	bottom: 0; 
	color: #ccc; 
	padding: 10px 0 10px 16px; 
	left: 0; 
	background-color: #263238; 
	width: 100%; 
}