<div id="audioPlayer_wrap">
	<audio id="music">
		<source src="https://p.scdn.co/mp3-preview/5768266d881b231d2518a86d54a259b8dd6484f2" type="audio/mpeg">
	</audio>
	<div id="audioPlayer">
		<img class="album_art" src="#" alt="" />
		<div id="song_name_display"></div>
			<div id="controls_wrap">
				<div id="audio_controls">
					<i class='fa fa-play control_button' ng-click="replaySongs()"></i>
					<i class='fa fa-pause control_button' ng-click"pauseSongs()"></i>
				</div>
			</div>
		<div id="mobile_back" ng-click="hidePlayer()">
			<p>Back to results</p>
		</div>
	</div>
</div>