<div id="audioPlayer_wrap">
	<audio id="music" controls>
		<source ng-src="{{ audioSource }}" type="audio/mpeg">
	</audio>
	<div id="audioPlayer" ng-show="showAudioPlayer">
		<img class="album_art" ng-src="{{ albumImageSource }}" alt="" />
		<div id="song_name_display">
			<p>{{ songName }}</p>
			<p class='album'>{{ albumName }}</p>
		</div>
			<div id="controls_wrap">
				<div id="audio_controls">
					<i class='fa fa-play control_button' ng-click="replaySongs()" ng-class="{ 'active': activePlay }"></i>
					<i class='fa fa-pause control_button' ng-click="pauseSongs()" ng-class="{ 'active': activePause }"></i>
				</div>
			</div>
		<div id="mobile_back" ng-click="hidePlayer()" ng-show="mobileBack">
			<p>Back to results</p>
		</div>
	</div>
</div>