<div id="audioPlayer_wrap">
	<audio id="music" controls>
		<source src="#" type="audio/mpeg">
	</audio>
	<div id="audioPlayer">
		<img class="album_art" src="#" alt="" />
		<div id="song_name_display"></div>
			<div id="controls_wrap">
				<div id="audio_controls">
					<i class='fa fa-play control_button' ng-click="replaySongs()"></i>
					<i class='fa fa-pause control_button' ng-click"pauseSongs()"></i>
				</div>
			</div>
		<div id="mobile_back" ng-click="hidePlayer()">
			<p>Back to results</p>
		</div>
	</div>
</div>