<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
		<title>Muzak - Music the quick and easy way</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='//fonts.googleapis.com/css?family=Roboto|Luckiest+Guy' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script defer src="js/app.js"></script>
	</head>
	<body ng-app="demo" ng-controller="ctrl">
		<div class="container col-xs-12" id="content_wrap">
			<header style="{{ headerPadding }}">
				<h1>Muzak</h1>
				<p>Listen to preview tracks from your favorite artists using <a href="https://www.spotify.com" target="_blank">Spotify</a> and artist information from <a href="https://www.discogs.com/" target="_blank">Discogs</a>.</p>
				<i class="fa fa-info-circle" aria-hidden="true" ng-click="showInfo()" ng-show="showInfoIcon"></i>
			</header>
			<section class="maintenance">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				This application is currently down for maintenance.
			</section>
			<section class="col-xs-12 col-md-8 searchContainer" style="opacity: {{ sectionOpacity }};">
				<div id="search_form" class="input-group">
					<form ng-submit="sendArtistData(currentArtistName)">
						<input type="text" placeholder="Search for something?!" class="form-control" id="search" ng-model="currentArtistName" value="currentArtistName" />
						<span class="input-group-btn">
							<button type="submit" id="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</form>		
				</div>
				<div id="results" ng-show="showSearchResults">
					<h2>Top Songs</h2>
					<table>
						<tr class="tracks" ng-repeat="item in tracks_list">
							<td>{{ item.name }}</td>
							<td ng-click="playSongs(item.id); showPlayer();" id="play_buttons"><i class='fa fa-play-circle'></i></td>
						</tr>
					</table>
				</div>
				<div id="multi_results" ng-show="showArtistSearchResults" style="width: {{ multiResultsWidth }};">
					<h3>Search Results</h3>
					<ul>
						<li ng-repeat="item in artist_list" ng-click="multipleResultsFindArtist()"><img class="artist_thumbs" ng-src="{{ item.images[0].url }}" ng-if="item.images[0].url != null" alt="{{ artistName }} Thumbnail"  />&nbsp;&nbsp;{{ item.name }}</li>
					</ul>
				</div>
			</section>
			<aside id="album_player_section" class="col-xs-12 col-md-4">
				<audio-player></audio-player>
				<div id="artist_info" ng-show="showArtistInfo" style="width: {{ artistInfoWidth }};">
					<h3>{{ name }}</h3>
					<img ng-src="{{ artistImageSource }}" alt="{{ artistName }} Thumbnail"  />
					<p><a href="{{ bio }}" target="_blank">{{ artistName }} Profile from Discogs</a></p>
					<ul>
						<li ng-repeat="artist_url in artist_urls"><a href="{{ artist_url }}">{{ artist_url }}</a></li>
					</ul>
				</div>
			</aside>
			<footer>
				<small>&copy;2017 <a href="http://www.meinnovation.net" target="_blank">ME Innovation</a></small>
			</footer>
		</div>
	</body>
</html>	