@import "./partials/variables";
@import "./partials/audioplayer";
@import "./partials/footer";
@import "./partials/global";
@import "./partials/header";
@import "./partials/profile";
@import "./partials/searchbar";
@import "./partials/songlist";






